/* Import component styles */
@import url('./components/Header.css');
@import url('./components/Footer.css');
@import url('./components/sections/Hero.css');
@import url('./components/sections/About.css');
@import url('./components/sections/Habilities.css');
@import url('./components/sections/Experience.css');
@import url('./components/sections/Projects.css');
@import url('./components/sections/Contact.css');

/* Global Styles */
.App {
  width: 100%;
  min-height: 100vh;
}

main {
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--main-background);
}

.intro {
  text-align: center;
  color: var(--main-fonts-color);
  z-index: 1;
  margin: auto;
  padding: 40px;
  position: relative;
}

.intro p {
  margin: 5px;
  font-size: 1.2rem;
  font-family: var(--main-font-family);
  text-align: center;
}

h3 {
  padding-bottom: 15px;
  letter-spacing: normal;
  font-family: var(--main-font-family);
  font-style: normal;
  font-size: 60px;
  color: var(--main-fonts-color);
  text-shadow: 0px 0px 40px var(--main-decor-color);
}

h4 {
  letter-spacing: normal;
  font-family: var(--main-font-family);
  font-style: normal;
  padding-bottom: 15px;
  font-size: 30px;
  color: var(--main-fonts-color);
  text-shadow: 0px 0px 40px var(--main-decor-color);
}

hr {
  background: var(--main-decor-color);
  margin: 2px;
  height: 3px;
  width: 250px;
  border-radius: 7px;
  border: hidden;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

ul {
  padding-top: 15px;
  list-style-type: none;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}